<header class="site-header">

  <div class="wrapper">

  <!--<span id="home-page-title">Linsey Raymaekers</span> --!>

    <!--
    <nav class="site-nav">

      <div class="trigger">
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for page in sorted_pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>
    --!>

  </div>

</header>
