---
layout: default
---


<div class="row">
	<div class="small-12 medium-7 large-7 columns">
        <h2>{{ page.title }}</h2>
		<p>
            {{ page.description }}
		</p>
	</div>
	<div class="small-12 medium-5 large-5 columns">
		<div class="lined-list">
			<ul>
                <li><strong>Role:</strong> {{ page.role }}</li>
                <li><strong>Tools:</strong> {{ page.tools }}</li>
                <li><strong>Language:</strong> {{ page.language }}</li>
                <li><strong>Year:</strong> {{ page.year }}</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<hr class="project-detail-hr" />
		
		<!-- Begin project image -->
		<div class="project-img">
            <img src="{{ site.baseurl }}/img/games/{{ page.filename }}a.png" alt="Project 01a" />
			<h6>Project 01a Caption</h6>
		</div>
		<!-- End project image -->
		
		<!-- Begin project image -->
		<div class="project-img">
            <img src="{{ site.baseurl }}/img/games/{{ page.filename }}b.png" alt="Project 01b" />
			<h6>Project 01b Caption</h6>
		</div>
		<!-- End project image -->
		
		<!-- Begin project image -->
		<div class="project-img">
            <img src="{{ site.baseurl }}/img/games/{{ page.filename }}c.png" alt="Project 01c" />
			<h6>Project 01c Caption</h6>
		</div>
		<!-- End project image -->
		
	</div>
</div>

<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<p class="back-to-top-holder"><a class="back-to-top"><i class="fa fa-chevron-circle-up fa-3x"></i></a></p>
	</div>
</div>

